body { 
    background-color: #cc404c;
    padding-top: 50px;
}

  .regalo {
    width: 410px;
    margin: 0 auto;
    cursor: pointer;
  }
  .caja, .tapa {
    background:
      
    #2b7bdd;
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    position: relative;
    margin: 0 auto;
  }
  .caja {
    width: 400px;
    height: 250px;
  }
  .tapa {
    width: 400px;
    height: 70px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0 2px;
    background-color: #4706fa;
    /* transiciones */
    top: 0;
    left: 0;
    transition: 
      top ease-out 0.5s,
      left ease-out 0.5s,
      transform ease-out 0.5s;
  }
  .caja span, .tapa span {
    position: absolute;
    display: block;
    background: rgb(194, 23, 247);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  }
  .caja span:first-child {
    width: 100%;
    height: 60px;
    top: 80px;
  }
  .caja span:last-child, .tapa span {
    width: 60px;
    height: 100%;
    left: 170px;
  }
  .tapa span {
    left: 172px;
  }
  .promo {
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    height: 0;
    top: 10px;
    transition: all ease-out 0.7s;
  }
  .promo p {
    font-size: 24px;
    margin: 0;
  }
  .promo h2 {
    font-size: 40px;
    margin: 0;
  }
  
  /* Efecto hover */
  .regalo:hover .tapa {
    top: -100px;
    transform: rotateZ(10deg);
    left: 10px;
  }
  .regalo:hover .promo {
    top: -80px;
  }


  /* SEPARACION DE CODIGO PARA LOS GLOBOS Y EL KOALA */
  ul.globos{
    position:relative;
    display:block;
    width: 50%;
    height:500px;
   
    margin:9px auto;
    list-style:none;
    
    
    animation:subir 9s alternate infinite;
  -moz-animation:subir 9s alternate infinite; /* Firefox */
  -webkit-animation:subir 9s alternate infinite; /*Safari y Chrome*/
  -o-animation:subir 9s alternate infinite;
  }
  ul.globos li{
    
      width: 90px;
      height: 90px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
    
    
  }
  ul.globos li:nth-child(1){
    position:absolute;
    background:#db6083;
    margin: 90px 468px;
    -webkit-transform: rotate(70deg);
         -moz-transform: rotate(70deg);
          -ms-transform: rotate(70deg);
           -o-transform: rotate(70deg);
              transform: rotate(70deg);
    animation:glo1 9s alternate infinite;
  -moz-animation:glo1 9s alternate infinite; /* Firefox */
  -webkit-animation:glo1 9s alternate infinite; /*Safari y Chrome*/
  -o-animation:glo1 9s alternate infinite;
  }
  ul.globos li:nth-child(1)::before{
    content:"";
    display:block;
    background:#ef688f;
    margin: 3px 12px;
    width: 75px;
      height: 75px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
     
  }
  ul.globos li:nth-child(1)::after{
    content:"";
    display:block;
    
    width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21px solid #db6083;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
    margin: 6px 83px;
    
  }
  ul.globos li:nth-child(2){
    position:absolute;
    background:#0083bd;
    margin: 90px 352px;
    -webkit-transform: rotate(21deg);
         -moz-transform: rotate(21deg);
          -ms-transform: rotate(21deg);
           -o-transform: rotate(21deg);
              transform: rotate(21deg);
    animation:glo1 6s alternate infinite;
  -moz-animation:glo1 6s alternate infinite; /* Firefox */
  -webkit-animation:glo1 6s alternate infinite; /*Safari y Chrome*/
  -o-animation:glo1 6s alternate infinite;
  }
  ul.globos li:nth-child(2)::before{
    content:"";
    display:block;
    background:#008fcd;
    margin: 3px 12px;
    width: 75px;
      height: 75px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
     
  }
  ul.globos li:nth-child(2)::after{
    content:"";
    display:block;
    width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21px solid #0083bd;;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
    margin: 6px 83px;
    
  }
  ul.globos li:nth-child(3){
     position:absolute;
    background:#2e015c;
    margin: 50px 409px;
    animation:glo2 9s alternate infinite;
  -moz-animation:glo2 9s alternate infinite; /* Firefox */
  -webkit-animation:glo2 9s alternate infinite; /*Safari y Chrome*/
  -o-animation:glo2 9s alternate infinite;
    
  }
  ul.globos li:nth-child(3)::before{
    content:"";
    display:block;
    background:#3e0677;
    margin: 3px 12px;
    width: 75px;
      height: 75px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
     
  }
  ul.globos li:nth-child(3)::after{
    content:"";
    display:block;
    width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21px solid #2e015c;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
    margin: 6px 83px;
    
  }
  ul.globos li:nth-child(4){
     position:absolute;
    background:#006c68;
    margin: 142px 512px;
    -webkit-transform: rotate(85deg);
         -moz-transform: rotate(85deg);
          -ms-transform: rotate(85deg);
           -o-transform: rotate(85deg);
              transform: rotate(85deg);
     animation:glo3 7s alternate infinite;
  -moz-animation:glo3 7s alternate infinite; /* Firefox */
  -webkit-animation:glo3 7s alternate infinite; /*Safari y Chrome*/
  -o-animation:glo3 7s alternate infinite;
  }
  ul.globos li:nth-child(4)::before{
    content:"";
    display:block;
    background:#018782;
    margin: 3px 12px;
    width: 75px;
      height: 75px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
     
  }
  ul.globos li:nth-child(4)::after{
    content:"";
    display:block;
    width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21px solid #006c68;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
    margin: 6px 83px;
    
  }
  ul.globos li:nth-child(5){
     position:absolute;
    background:#fa5b5b;
    margin: 142px 304px;
    -webkit-transform: rotate(5deg);
         -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
           -o-transform: rotate(5deg);
              transform: rotate(5deg);
     animation:glo4 7s alternate infinite;
  -moz-animation:glo4 7s alternate infinite; /* Firefox */
  -webkit-animation:glo4 7s alternate infinite; /*Safari y Chrome*/
  -o-animation:glo4 7s alternate infinite;
    
  }
  ul.globos li:nth-child(5)::before{
    content:"";
    display:block;
    background:#f96d6d;
    margin: 3px 12px;
    width: 75px;
      height: 75px;
     
      -moz-border-radius: 90px 90px 3px 90px;
           border-radius: 90px 90px 12px 90px;
     
  }
  ul.globos li:nth-child(5)::after{
    content:"";
    display:block;
    width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21px solid #fa5b5b;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
    margin: 6px 83px;
    
  }
  .hilo{
    position:absolute;
    width:3px;
    height:121px;
    background:black;
    margin:-9px 132px;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
  }
  .hilos{
    position:absolute;
    
    width:112px;
    height:212px;
    
    background:#342106;
    margin:-112px 519px;
    -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
   
  }
  @-webkit-keyframes glo1{
  0%{margin-top:90px;}
  
  50%{margin-top:87px;
  }
  
  100%{margin-top: 90px}
  
  
  }
  @-webkit-keyframes glo2{
  0%{margin-top:50px;}
  
  50%{margin-top:57px;
  }
  
  100%{margin-top: 50px}
  
  
  }
  @-webkit-keyframes glo3{
  0%{ -webkit-transform: rotate(85deg);
         -moz-transform: rotate(85deg);
          -ms-transform: rotate(85deg);
           -o-transform: rotate(85deg);
              transform: rotate(85deg);}
  
  50%{ -webkit-transform: rotate(80deg);
         -moz-transform: rotate(80deg);
          -ms-transform: rotate(80deg);
           -o-transform: rotate(80deg);
              transform: rotate(80deg);
  }
  
  100%{ -webkit-transform: rotate(85deg);
         -moz-transform: rotate(85deg);
          -ms-transform: rotate(85deg);
           -o-transform: rotate(85deg);
              transform: rotate(85deg);}
  
  
  }
  @-webkit-keyframes glo4 {
  0%{-webkit-transform: rotate(5deg);
         -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
           -o-transform: rotate(5deg);
              transform: rotate(5deg);}
  
  50%{ -webkit-transform: rotate(5deg);
         -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
           -o-transform: rotate(5deg);
              transform: rotate(10deg);
  }
  
  100%{ -webkit-transform: rotate(5deg);
         -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
           -o-transform: rotate(5deg);
              transform: rotate(5deg);}
  
  
  }
  .koala{
    
    
    width:12%;
    height:192px;
    
    margin: -231px 675px;
    -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
              transform: rotate(-45deg);
    
  }
  .orejas{
    position:absolute;
    width: 50px;
    height: 50px;
    background:#8b796b;
    border:7px solid #7d6857;
    border-radius:100%;
  }
  .orejas::before{
    content:"";
    display:block;
     width: 50px;
    height: 50px;
    background:#8b796b;
    border:7px solid #7d6857;
    border-radius:100%;
    margin: -7px 70px;
  }
  
  .cara{
    position:absolute;
    width: 90px;
    height:80px;
    border-radius:100%;
    background:#7d6857;
    margin:12px 23px;
  }
  .cuerpo{
    position:absolute;
    width:112px;
    height:65px;
    border-radius: 121px 121px 0 0;
    background:#8b796b;
    margin: 90px 19px;
      -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
              transform: rotate(90deg);
  }
  .cuerpo::before{
    content:"";
    display:block;
    width:70px; 
    height:30px;
    border-radius: 12px;
    background:#7d6857;
    -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
              transform: rotate(90deg);
    margin: 50px 12px;
  }
  .cuerpo::after{
    content:"";
    display:block;
    width:55px; 
    height:40px;
    border-radius:60px 0 112px 112px;
    background:#7d6857;
    -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
              transform: rotate(90deg);
    margin: -113px 65px;
  }
  .leg{
    position:absolute;
    width:25px;
    height:30px;
    border-radius:12px;
    background:#7d6857;
    margin: -75px 90px;
  }
  .ojos{
    position:relative;
    display:block;
    width:12px;
    height:12px;
    background:black;
    border-radius:100%;
    margin: 35px 17px;
  }
  .ojos::before{
    content:"";
    position:relative;
    display:block;
    width:12px;
    height:12px;
    background:black;
    border-radius:100%;
    margin: 30px 40px;
  }
  .nariz{
    position:relative;
    display:block;
    width:27px;
    height:33px;
   background:#29211e;
    border-radius:100%;
    margin: -37px 29px;
  }
  .cola{
    position:absolute;
    width:35px;
    height:35px;
    border-radius:100%;
   background:#29211e;
    margin: 142px 93px;
      
      
  }
  @-webkit-keyframes subir{
  0%{margin-top:9px;
  }
  
  25%{margin-top:90px;
    
  }
  50%{margin-top:30px;
    
  }
  75%{margin-top:112px;
    
  }
    
  100%{margin-top:3px}
  
  
  }




  